body {
    background: rgb(234, 234, 234);
    height: 100vh;
    padding: 0;
    margin: 0;
}

.shell {
    width: 60%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: 0.3s;
}

.content {
    flex-grow: 1;
}

@media (max-width: 1500px) {
    .shell {
        width: 96%;
        margin-left: 2%;
    }
}