footer {
    background: white;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0px 0px 20px 0px #0000001A;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 10px 10px 40px 10px;
}

.title {
    color: rgb(16, 16, 16);
    font-weight: 700;
    font-size: 25px;
    cursor: pointer;
    margin-left: 10px;
}

p, li, a {
    font-size: 17px;
    font-weight: 400;
    color: black;
}

.misc_links, ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.language_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        font-weight: 700;
        font-size: 15px;
    }
}

.chosen_option {
    color: rgb(255, 165, 66);
}

.title, p, li, img {
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}

.social_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

@media (max-width: 580px) {
    p, li, a, .title, .language_options p {
        font-size: 12px;
    }
}

@media (max-width: 455px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    ul {
        flex-direction: row;
    }
}